@using Newtonsoft.Json
@model ML.Administrador
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <h3>Sing In</h3>
    <div class="form-group">
        <div class="form-horizontal">
            <label class="control-label">Usuario</label>
            @Html.TextBoxFor(o => o.Username, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-horizontal">
            <label class="control-label">Contraseña</label>
            @Html.TextBoxFor(o => o.Password, htmlAttributes: new { @class = "form-control", @type = "password" })
        </div>
        <div class="form-horizontal">
            <input class="btn btn-danger" type="submit" value="Ingresar" />
        </div>
    </div>
}