@model ML.Administrador
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using Newtonsoft.Json
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Administrador", FormMethod.Post))
{
    <div class="form-group">
        <div class="form-horizontal">
            <label class="control-label">Usuario</label>
            @Html.TextBoxFor(o => o.Username, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-horizontal">
            <label class="control-label">Contraseña</label>
            @Html.TextBoxFor(o => o.Password, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-horizontal mt-2">
            <input class="btn btn-danger" type="submit" value="Ingresar" />
        </div>
    </div>
}