@model ML.Administrador
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@{
    switch (Model._token)
    {
        case "404":
            <p>Usuario no encontrado</p>
            break;
        case "exception":
        case "error":
            <p>Error</p>
            break;
        case "":
        case null:
            <p>Token no valido</p>
            break;
        default:
            <p>bienvenido</p>
            break;
    }
}